{% extends 'core/base/base.html' %}


{% block title %}Create Student{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}
    {% load crispy_forms_tags %}

<section  class="py-5 px-4">
    <div class="row">
        <div class="col-sm-6 p-3 border mx-auto bg-light">
            <div class="text-center pb-2 border-bottom">
                <h3 class="m-0">Create Student</h3>
            </div>
            {% if success_message %}							
                <div class="alert alert-success p-2 mx-3 mt-3 mb-1"><b>{{ success_message }}</b></div>
            {% endif %}
            <div class="p-2">
                <!-- For creating a new student -->
                <form action="{% url 'create_student' %}" method="post" class="row g-3 pt-1">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" required class="form-control" name="name" id="name" placeholder="Name">
                    </div>

                    <div class="col-md-6">
                        <label for="registration_number" class="form-label">Registration Number:</label>
                        <input type="text" required class="form-control" name="registration_number" id="registration_number" placeholder="registration Number">
                        <!-- <input type="text" required class="form-control" id="last_name" value="{{user.user.last_name}}" name="last_name" placeholder=""> -->
                    </div>
                    
                    <div class="col-md-12">
                        <label for="batch" class="form-label">Batch:</label>
                        <select name="batch" required id="batch" class="form-select">
                            {% for batch in batches %}
                            <option value="{{ batch.id }}">{{ batch.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="department" class="form-label">Department:</label>
                        <select name="department" required id="department" class="form-select">
                            {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="session" class="form-label">Session:</label>
                        <select name="session" required id="session" class="form-select">
                            {% for session in sessions %}
                                <option value="{{ session.id }}">{{ session.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    {{ form.status|as_crispy_field  }}

                    <div class="col-md-12 text-center">
                        <input class="btn btn-primary" type="submit" value="Submit">
                        <a class="btn btn-success ms-2" href="{% url 'student_list' %}" class="">Back To List</a>
                    </div>
                </form>
            </div> 
        </div>
    </div>
</section>

{% endblock %}

{% block site_js %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var successMessage = document.querySelector('.success-message');
        var loadingBar = document.querySelector('.loading-bar');
        if (successMessage && loadingBar) {
            setTimeout(function () {
                successMessage.style.display = 'none';
                loadingBar.style.display = 'none';
            }, 3000); // Hides the success message and loading bar after 3 seconds (3000 milliseconds)
        }
    });
</script>
{% endblock %}