{% extends 'core/base/base.html' %}


{% block title %}Dormitory Application Form{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}
    {% load crispy_forms_tags %}

    <section class="py-4 px-4">
        <div class="row">
            <div class="col-sm-10 mx-auto">
                <div class="card border bg-light">
                    <div class="card-header">
                        <h3 class="card-title text-center m-0">Dormitory Application Form</h3>
                    </div>
                    {% if message != "" %}
                        <div class="alert alert-success p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
                    {% endif %}
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" class="row gx-4 px-2 was-validated" novalidate>
                            {% csrf_token %}
                            {% comment %} {% crispy form %} {% endcomment %}
                            
                            <!-- Section 1: Personal Information -->
                            <div class="col-12">
                                <h4>Personal Information</h4>
                                <hr class="mt-0 mb-3">
                            </div>
                            <div class="col-md-6">
                                {{ form.fullName|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.birthDate|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.gender|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.phone|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.picture|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.idCardPicture|as_crispy_field }}
                            </div>

                            <!-- Section 2: Guardian Information -->
                            <div class="col-12 mt-4">
                                <h4>Guardian Information</h4>
                                <hr class="mt-0 mb-3">
                            </div>
                            <div class="col-md-6">
                                {{ form.guardian_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.guardian_relation|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.guardian_phone|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.guardian_address|as_crispy_field }}
                            </div>

                            <!-- Section 3: Academic Details -->
                            <div class="col-12 mt-4">
                                <h4>Academic Details</h4>
                                <hr class="mt-0 mb-3">
                            </div>
                            <div class="col-md-6">
                                {{ form.session|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.batch|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.semester|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.department|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.preferred_room|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.registration_number|as_crispy_field }}
                            </div>
                            <div class="col-md-6 d-none">
                                {{ form.application_status|as_crispy_field }}
                            </div>
                            <div class="col-md-6 d-none">
                                {{ form.application_date|as_crispy_field }}
                            </div>

                            <!-- Submit Button -->
                            <div class="col-12 text-center mt-1">
                                <button class="btn btn-warning btn-lg my-3 fw-semibold font-monospace" type="submit" id="submit">
                                    Submit
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="padding: 8px;"></span>
                                </button>
                                {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block site_js %}

<script>
</script>
{% endblock %}