{% extends 'core/base/base.html' %}

{% block title %}Dormitory Applications List{% endblock %}

{% block site_css %}{% endblock %}

{% block body %}
{% load crispy_forms_tags %}

<section class="py-4 px-4">
    <div class="row">
        <div class="container col-sm-12">
            <div class="pb-2 d-flex justify-content-center align-items-center border-bottom border-secondary border-2">
                <h3 class="m-0 mx-2">Dormitory Applications List</h3>                    
            </div>

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <div class="alert alert-success p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
                    {% else %}
                        <div class="alert alert-danger p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            <div class="alert alert-primary mt-3">
                <form method="post" id="filterform" class="row gx-3 gy-0">
                    {% csrf_token %}
                    <div class="col-md-3">
                        {{ form.session|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ form.batch|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ form.department|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ form.semester|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ form.registration_number|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ form.date_from|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ form.date_to|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ form.application_status|as_crispy_field }}
                    </div>
                    <div class="col-md-3 ms-auto mt-auto">
                        <button type="submit" class="btn btn-sm btn-primary">Filter</button>
                    </div>
                </form>
            </div>

            {% if dataset %}
            <div class="mt-3">
                <table class="table table-bordered table-hover text-center align-middle" style="font-size: 14px;">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th> 
                            <th>Session</th>
                            <th>Batch</th>
                            <th>Department</th>
                            <th>Semester</th>
                            <th>Name</th>
                            <th>Reg. Number</th>
                            <th>Phone</th>
                            <th>Submission Date</th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in dataset %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ item.session }}</td>
                            <td>{{ item.batch }}</td>
                            <td>{{ item.department }}</td>
                            <td>{{ item.semester.name }}</td>
                            <td>{{ item.fullName }}</td>
                            <td>{{ item.registration_number }}</td>
                            <td>{{ item.phone }}</td>
                            <td>{{ item.application_date|date:"d/m/Y" }} {{ item.application_date|time:"h:i A" }}</td>
                            <td>{{ item.application_status.name }}</td>
                            <td>
                                <a href="{% url 'application_review' item.id %}" class="btn btn-warning btn-sm">Review</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif %}
            <div class="">
                <div class="col-md-12 text-left pt-2">
                    <a class="btn btn-success btn-sm" href="/home/">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block site_js %}
<script>

</script>
{% endblock %}
