{% extends 'core/base/base.html' %}


{% block title %}User Registration{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}

{% comment %} 
<!DOCTYPE html>
<html>
    
<head>
	<title>Register</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
		}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #74cfbf;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;
		}
		.login_btn {
			width: 100%;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

	</style>

</head>
<body> {% endcomment %}

	<section  class="py-5 px-4">
		<div class="row">
			<div class="col-sm-6 p-3 border mx-auto bg-light">
				<div class="text-center pb-2 border-bottom">
					<h3 class="m-0">User Registration</h3>
				</div>

				{% comment %} {% if form.errors %}
                	<div class="m-2">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger p-2 my-1">
                                    <div>{{ error|escape }}</div>
                                </div>
                            {% endfor %}
                        {% endfor %}
    
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger p-2 my-1">
                                <div>{{ error|escape }}</div>
                            </div>
                        {% endfor %}
                	</div>
				{% endif %} {% endcomment %}

                {% if messages %}
                    {% for message in messages %}
						{% if message.tags == "success" %}
							<div class="alert alert-success p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% else %}
							<div class="alert alert-danger p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% endif %}
                    {% endfor %}
                {% endif %}

				<div class="p-2">
					<form method="POST" action="" class="row g-3 pt-1">
						{% csrf_token %}
						<div class="col-md-6">
							<label for="first_name" class="form-label">First Name:</label>
							<input type="text" required class="form-control" id="first_name" value="{{user.user.first_name}}" name="first_name" placeholder="">
						</div>

						<div class="col-md-6">
							<label for="last_name" class="form-label">Last Name:</label>
							<input type="text" required class="form-control" id="last_name" value="{{user.user.last_name}}" name="last_name" placeholder="">
						</div>
						
						<div class="col-md-6">
							<label for="username" class="form-label">Username:</label>
							<input type="text" required class="form-control" id="username" value="{{user.user.username}}" name="username" placeholder="">
						</div>

						<div class="col-md-6">
							<label for="email" class="form-label">Email:</label>
							<input type="email" required class="form-control" id="email" name="email" value="{{user.user.email}}" >
						</div>

						<div class="col-md-6">
							<label for="password1" class="form-label">Password:</label>
							<input type="password" required class="form-control" id="password1" name="password1" >
						</div>

						<div class="col-md-6">
							<label for="password2" class="form-label">Confirm Password:</label>
							<input type="password" required class="form-control" id="password2" name="password2">
						</div>

						<div class="col-md-12">
							<label for="group" class="form-label">Group:</label>
							<select name="group" required id="group" class="form-select">
								{% for group in groups %}
									{% if user.group.id == group.id %}
										<option value="{{group.id}}" selected>{{group.name}}</option>
									{% else %}
										<option value="{{group.id}}" >{{group.name}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>


						{% comment %} <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.username}}
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.first_name}}
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.last_name}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							{{form.email}}
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.role}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password1}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password2}}
						</div> {% endcomment %}

				   		<div class="col-md-12 text-center pt-2">
				 			<input class="btn btn-primary" type="submit" value="Register Account">
							<a class="btn btn-success ms-2" href="{% url 'userlist' %}" class="">Back To List</a>
				   		</div>
					</form>
				</div>
			</div>
		</div>
	</section>


	{% comment %} <script>
						/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field 
		 */

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
</body>
</html> {% endcomment %}

{% endblock %}

{% block site_js %}
<script>
	var password = document.getElementById("password1")
	, confirm_password = document.getElementById("password2");

	function validatePassword(){
	if(password.value != confirm_password.value) {
	confirm_password.setCustomValidity("Passwords Don't Match");
	} else {
	confirm_password.setCustomValidity('');
	}
	}

	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}