{% extends 'core/base/base.html' %}


{% block title %}About{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}
<header class="masthead" style="position: relative; background-color: #343a40;
    padding-top: 4rem; padding-bottom: 4rem;">
        <div class="col-9 col-sm-6 px-4 py-3 px-lg-5 my-5 mx-auto" style="background-color: #00706bcf;">
            <div class="text-center text-white">
                <h1 class="display-5 fw-bolder">About POS Sys</h1>
                <p class="lead fs-4 fw-normal mb-0">Stock, Purchase, Sale & Manage</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block site_js %}
    <script>
    </script>
{% endblock %}