{% extends 'core/base/base.html' %}
{% load static %}


{% block title %}SEC{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}
    <header class="masthead" style="position: relative; background-color: #343a40;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('{% static "core/images/homebg.jpeg" %}') no-repeat center center;
    background-size: cover; padding-top: 5rem; padding-bottom: 5rem;">
        <div class="px-4 py-4 px-lg-5 my-5 mx-auto" style="width:fit-content;background-color: #00706bcf;">
            <div class="text-center text-white"
                 style="font-family: 'Source Sans Pro',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;">
                <h1 class="display-5 fw-bolder">Sylhet Engineering College</h1>
                <h1 class="display-6 fw-bolder">Hall Management System</h1>
                <p class="lead fs-4 fw-normal mb-0"></p>
            </div>
        </div>
    </header>
{% endblock %}

{% block site_js %}{% endblock %}
