{% extends 'core/base/base.html' %}


{% block title %}Create StudentFee{% endblock %}


{% block site_css %}{% endblock %}


{% block body %}
    {% load crispy_forms_tags %}

    <section class="py-4 px-4">
		<div class="row">
			<div class="container col-sm-12">
                <div class="pb-2 d-flex justify-content-center align-items-center border-bottom border-secondary border-2">
					<h3 class="m-0 mx-2">Create Student Fee</h3>
				</div>

                {% if messages %}
                    {% for message in messages %}
						{% if message.tags == "success" %}
							<div class="alert alert-success p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% else %}
							<div class="alert alert-danger p-2 mx-3 mt-3 mb-1"><b>{{ message }}</b></div>
						{% endif %}
                    {% endfor %}
                {% endif %}
				
                <div class="alert alert-primary mt-3">
                    <form id="StudentFeeForm" method="POST" action="" class="">
                        {% csrf_token %}
                        <div class="row gx-3">
                            <div class="col-sm-4 ">
                                {{ form.feesHead|as_crispy_field }}
                            </div>
                            <div class="col-sm-4  ">
                                {{ form.batch|as_crispy_field }}
                            </div>
                            <div class="col-sm-4  ">
                                {{ form.registration_number|as_crispy_field }}
                            </div>
                            <div class="col-sm-4 ms-auto mt-auto">
                                <input class="btn btn-primary" type="submit" id="searchBtn" value="Show" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="mt-3">
                    <table class="table table-bordered table-hover text-center mb-2" id="studentfeetable">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="text-center">
                                    <div class="form-check">
                                        <input class="form-check-input mx-auto" type="checkbox" id="CheckAll" name="all">
                                    </div>
                                </th>
                                <th scope="col">Student Name</th>
                                <th scope="col" class="text-center">Registration No.</th>
                                <th scope="col">Session</th>
                                <th scope="col">Batch</th>
                                <th scope="col">Department</th>
                                <th scope="col" class="text-center">Fee Amount</th>
                              </tr>
                        </thead>
                        <tbody>
                          {% for data in dataset %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td class="text-center">
                                    <div class="form-check">
                                        <input class="form-check-input mx-auto" type="checkbox" id="check" name="{{data.id}}">
                                    </div>
                                </td>
                                <td class="id d-none">{{data.id}}</td>
                                <td class="feesheadid d-none">{{data.feesheadid}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.registration_number}}</td>
                                <td>{{data.session}}</td>
                                <td>{{data.batch}}</td>
                                <td>{{data.department}}</td>
                                <td class="amount">{{data.amount}}</td>
                            </tr>
                          {% endfor %}

                        </tbody>
                    </table>
                    <div class="">
                        <div class="col-md-12 text-center pt-2">
                            <a class="btn btn-success btn-lg" id="submit">Submit</a>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-12 text-left pt-2">
                        <a class="btn btn-success btn-sm" href="/home/">Back To Home</a>
                    </div>
				</div>
            </div>
        </div>
    </section>


{% endblock %}

{% block site_js %}
<script>

    $("#CheckAll").change(function() { 
        $('#studentfeetable tbody tr').each(function(index, tr) { 
            //console.log(index);
            //console.log(tr);
            $(this).find("#check").prop('checked', $("#CheckAll").is(":checked"));

        });
    });


    $("#submit").on('click', function() {   
        var rows = [];
        
        $("#studentfeetable tbody tr").each(function(index, tr) { 
            //console.log(index);
            //console.log(tr);
            if($(this).find("#check").is(":checked")){
                rows.push(JSON.stringify({
                    'id': $(tr).find('.id').text(),
                    'feesheadid': $(tr).find('.feesheadid').text(),
                    'amount': $(tr).find('.amount').text(),
                }))
            }

        });


        var formdata = {
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
            'studentfees': rows,
        };

        console.log(formdata);

        $.ajax({
                url : "{% url 'create_studentfee' %}", // the endpoint
                type : "POST", // http method
                data: formdata,
                dataType: 'json',
                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    alert("Student fee saved successfully!!");
                    //window.location.href = "{% url 'studentfeelist' %}";
                },
        
                // handle a non-successful response
                error : function(xhr,errmsg,err,res) {
                    console.log(res); // provide a bit more info about the error to the console
                }
            });
    
        });



</script>
{% endblock %}